# Miro API Configuration
# Fill in the values below after creating your app at:
# https://miro.com/app/settings/user-profile/apps

MIRO_BOARD_ID=uXjVGnsECYo=/
MIRO_CLIENT_ID=3458764666359105058
MIRO_CLIENT_SECRET=xf2m9oej1JevP4hWuluGA6hCR9DKJH4e
MIRO_ACCESS_TOKEN=-eyJtaXJvLm9yaWdpbiI6ImV1MDEifQ_y1ieh1aEUXWyn0j-WVYFsSDv0yc
